Repository restarone/violet_rails, pull requests merged in 2023-03, with the labels that each got.

#1432 [bugfix] list view in api_resources
  app/views/comfy/admin/api_namespaces/_init_editor.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
Labels: bug, early-alpha UNSAFE, do not merge

#1379 [feature] Ability to query API resources that match any or multiple words of search term
  app/models/concerns/jsonb_search/query_builder.rb
  test/controllers/api/resource_controller_test.rb
  test/models/concerns/jsonb_search/query_builder_test.rb
Labels: Pending UAT on Testnet :warning:, deploy-review-app

#1447 Update README.md
  README.md
Labels: release-candidate

#1448 [feature] enable profiling in production
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/comfy/admin/users_controller.rb
  app/views/comfy/admin/users/_form.haml
  config/environments/development.rb
  config/initializers/rack_profiler.rb
  db/migrate/20230310222034_add_show_profiler_to_users.rb
  db/schema.rb
Labels: deploy-review-app

#1449 [feature] enable profiling in production
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/comfy/admin/users_controller.rb
  app/models/user.rb
  app/views/comfy/admin/users/_form.haml
  config/environments/development.rb
  config/initializers/rack_profiler.rb
  db/migrate/20230310222034_add_show_profiler_to_users.rb
  db/schema.rb
Labels: release-candidate, Pending UAT on Staging :red_circle:

#1418 [bug fix] N+1 query and memory leak in Analytics V2
  .env.test
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/dashboard_helper.rb
  app/models/ahoy/event.rb
  app/views/comfy/admin/v2/dashboard/_events.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  test/controllers/admin/comfy/v2/dashboard_controller_test.rb
  test/helpers/dashboard_helper_test.rb
  test/tasks/purge_unattached_task_test.rb
Labels: deploy-review-app

#1454 remove rack-timeout and integrate slowpoke
  .env.test
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/rack_timeout.rb
  public/503.html
  test/integration/slowpoke_timeout_test.rb
Labels: deploy-review-app

#1457 [feature] replace rack-timeout with slowpoke
  .env.test
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/rack_timeout.rb
  public/503.html
  test/integration/slowpoke_timeout_test.rb
Labels: Passing UAT on Staging :white_check_mark:

#1446 [feature] Ability to query API resources with KEYWORDS
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/helpers/api_namespaces_helper.rb
  app/models/concerns/jsonb_search/query_builder.rb
  app/views/comfy/admin/api_namespaces/show.html.haml
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/controllers/api/resource_controller_test.rb
  test/models/concerns/jsonb_search/query_builder_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1466 [feature] Ability to query API resources with KEYWORDS
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/helpers/api_namespaces_helper.rb
  app/models/concerns/jsonb_search/query_builder.rb
  app/views/comfy/admin/api_namespaces/show.html.haml
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/controllers/api/resource_controller_test.rb
  test/models/concerns/jsonb_search/query_builder_test.rb
Labels: release-candidate

#1464 [Bug Fix] Undefined method for nil in analytics v2
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/dashboard_helper.rb
  app/models/ahoy/event.rb
  test/controllers/admin/comfy/v2/dashboard_controller_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1467 [Bug Fix] Undefined method for nil in analytics v2
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/dashboard_helper.rb
  app/models/ahoy/event.rb
  test/controllers/admin/comfy/v2/dashboard_controller_test.rb
Labels: release-candidate

#1461 [feature] AJAX'ify API resource list view
  app/assets/javascripts/comfy/admin/cms/dashboard.js
  app/assets/stylesheets/api_namespaces.scss
  app/assets/stylesheets/application.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/comfy/admin/api_resources_controller.rb
  app/javascript/controllers/api_resources_controller.js
  app/javascript/controllers/dashboard_controller.js
  app/javascript/controllers/index.js
  app/javascript/packs/application.js
  app/javascript/packs/comfy/admin/cms.js
  app/views/comfy/admin/api_namespaces/api_resources/_index.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_table.html.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  config/initializers/ransack.rb
  config/initializers/turbo_paginate_renderer.rb
  config/webpack/environment.js
  package.json
  yarn.lock
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1480 [feature] AJAX'ify API resource list view (#1461)
  app/assets/javascripts/comfy/admin/cms/dashboard.js
  app/assets/stylesheets/api_namespaces.scss
  app/assets/stylesheets/application.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/comfy/admin/api_resources_controller.rb
  app/javascript/controllers/api_resources_controller.js
  app/javascript/controllers/dashboard_controller.js
  app/javascript/controllers/index.js
  app/javascript/packs/application.js
  app/javascript/packs/comfy/admin/cms.js
  app/views/comfy/admin/api_namespaces/api_resources/_index.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_table.html.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/ransack.rb
  config/initializers/turbo_paginate_renderer.rb
  config/webpack/environment.js
  package.json
  yarn.lock
Labels: release-candidate

#1484 [bug fix] use default website layout if no app layout is present
  app/controllers/comfy/admin/cms/layouts_controller.rb
  test/controllers/admin/comfy/layouts_controller_test.rb
Labels: release-candidate

#1476 Forum search by lascau
  app/controllers/simple_discussion/forum_categories_controller.rb
  app/controllers/simple_discussion/forum_threads_controller.rb
  app/models/forum_thread.rb
  app/views/layouts/simple_discussion.html.erb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1492 [Feat] Allow API Namespace to auto clean resources
  app/assets/stylesheets/api_namespaces.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/subdomains/base_controller.rb
  app/models/api_namespace.rb
  app/sidekiq/purge_old_api_resources_job.rb
  app/views/comfy/admin/api_namespaces/_interface.html.haml
  app/views/comfy/admin/api_namespaces/_settings.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_index.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_table.html.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/users/_api_accessibility.haml
  config/routes.rb
  config/schedule.rb
  db/migrate/20230324080541_add_purge_resources_older_than_to_api_namespaces.rb
  db/schema.rb
  lib/tasks/maintenance.rake
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/tasks/purge_old_api_resources_test.rb
Labels: Pending UAT on Testnet :warning:, deploy-review-app

#1493 [feature] Allow API Namespace to auto clean resources
  app/assets/stylesheets/api_namespaces.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/subdomains/base_controller.rb
  app/models/api_namespace.rb
  app/sidekiq/purge_old_api_resources_job.rb
  app/views/comfy/admin/api_namespaces/_interface.html.haml
  app/views/comfy/admin/api_namespaces/_settings.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_index.html.haml
  app/views/comfy/admin/api_namespaces/api_resources/_table.html.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/users/_api_accessibility.haml
  config/routes.rb
  config/schedule.rb
  db/migrate/20230324080541_add_purge_resources_older_than_to_api_namespaces.rb
  db/schema.rb
  lib/tasks/maintenance.rake
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/tasks/purge_old_api_resources_test.rb
Labels: release-candidate

#1419 [feature] Rack attack
  .env.test
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  app/mailers/rack_attack_mailer.rb
  app/views/rack_attack_mailer/limit_exceeded.html.erb
  config/initializers/rack_attack.rb
  config/locales/en.yml
  test/integration/rack_attack_test.rb
  test/test_helper.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1508 [feature] run ahoy geocoderv2job periodically (#1501)
  Gemfile
  config/schedule.rb
  config/sidekiq.yml
  lib/tasks/ahoy.rake
  test/tasks/fill_empty_location_entries_task_test.rb
Labels: release-candidate
