Repository restarone/violet_rails, pull requests merged in 2023-01, with the labels that each got.

#1326 [feature] integrate CMS with cookie consent UI
  app/helpers/application_helper.rb
  app/views/shared/_cookies_consent_ui.html.erb
  test/controllers/admin/comfy/cms/content_controller_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1328 [feature] integrate CMS with cookie consent UI
  app/helpers/application_helper.rb
  app/views/shared/_cookies_consent_ui.html.erb
  test/controllers/admin/comfy/cms/content_controller_test.rb
Labels: Pending UAT on Staging :red_circle:

#1327 [bug fix] Run Error API actions
  app/controllers/concerns/api_actionable.rb
  app/models/api_action.rb
  app/models/api_namespace.rb
  app/models/api_resource.rb
  app/services/api_namespace/plugin/v1/subdomain_events_service.rb
  app/sidekiq/api_resource_spawn_job.rb
  app/sidekiq/fire_api_actions_job.rb
  app/views/comfy/admin/api_actions/index.html.haml
  db/migrate/20220906063031_add_additional_data_to_api_actions.rb
  db/migrate/20230103105118_add_parent_id_to_api_actions.rb
  db/migrate/20230103123121_populate_api_action_parent_id.rb
  db/schema.rb
  test/controllers/resource_controller_test.rb
  test/controllers/simple_discussion/forum_threads_controller_test.rb
  test/fixtures/api_actions.yml
  test/helpers/content_helper_test.rb
  test/models/api_action_test.rb
  test/models/api_namespace_test.rb
  test/models/api_resource_test.rb
  test/test_helper.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1323 [WIP] Entity specific analytics
  app/assets/stylesheets/dashboard.scss
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/dashboard_helper.rb
  app/models/ahoy/event.rb
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  app/views/layouts/comfy/admin/cms/_body.html.haml
  config/routes.rb
Labels: WIP, do not merge

#1331 [bug fix] Run Error API actions (#1327)
  app/controllers/concerns/api_actionable.rb
  app/models/api_action.rb
  app/models/api_namespace.rb
  app/models/api_resource.rb
  app/services/api_namespace/plugin/v1/subdomain_events_service.rb
  app/sidekiq/api_resource_spawn_job.rb
  app/sidekiq/fire_api_actions_job.rb
  app/views/comfy/admin/api_actions/index.html.haml
  db/migrate/20220906063031_add_additional_data_to_api_actions.rb
  db/migrate/20230103105118_add_parent_id_to_api_actions.rb
  db/migrate/20230103123121_populate_api_action_parent_id.rb
  db/schema.rb
  test/controllers/resource_controller_test.rb
  test/controllers/simple_discussion/forum_threads_controller_test.rb
  test/fixtures/api_actions.yml
  test/helpers/content_helper_test.rb
  test/models/api_action_test.rb
  test/models/api_namespace_test.rb
  test/models/api_resource_test.rb
  test/test_helper.rb
Labels: Pending UAT on Staging :red_circle:

#1325 [feature] permissioned forum access
  app/controllers/comfy/admin/users_controller.rb
  app/controllers/simple_discussion/application_controller.rb
  app/controllers/simple_discussion/forum_posts_controller.rb
  app/controllers/simple_discussion/forum_threads_controller.rb
  app/views/comfy/admin/users/_form.haml
  app/views/simple_discussion/forum_threads/show.html.erb
  db/migrate/20221230035120_add_can_access_forum_to_users.rb
  db/schema.rb
  test/controllers/simple_discussion/forum_categories_controller_test.rb
  test/controllers/simple_discussion/forum_posts_controller_test.rb
  test/controllers/simple_discussion/forum_threads_controller_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1333 [feature] permissioned forum access
  app/controllers/comfy/admin/users_controller.rb
  app/controllers/simple_discussion/application_controller.rb
  app/controllers/simple_discussion/forum_posts_controller.rb
  app/controllers/simple_discussion/forum_threads_controller.rb
  app/views/comfy/admin/users/_form.haml
  app/views/simple_discussion/forum_threads/show.html.erb
  db/migrate/20221230035120_add_can_access_forum_to_users.rb
  db/schema.rb
  test/controllers/simple_discussion/forum_categories_controller_test.rb
  test/controllers/simple_discussion/forum_posts_controller_test.rb
  test/controllers/simple_discussion/forum_threads_controller_test.rb
Labels: Pending UAT on Staging :red_circle:

#1343 [Nikean.Org] use ubuntu-latest in Capistrano deploy
  .github/workflows/deploy.yml
Labels: deploy-review-app

#1344 no set-output in CI + use ubuntu-latest in cap deploy
  .github/workflows/deploy.yml
Labels: Pending UAT on Staging :red_circle:

#1340 [Bug Fix]: cannot grant forum access
  app/views/comfy/admin/users/_form.haml
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1348 [CI/CD] stop using set-output in cap deploy
  .github/workflows/deploy.yml
Labels: release-candidate

#1350 [CI/CD] use ubuntu-latest for Cap deploy
  .github/workflows/deploy.yml
Labels: Pending UAT on Staging :red_circle:

#1354 [bug fix] non renderable API Namespace unable to create Resources
  app/helpers/api_forms_helper.rb
  app/views/comfy/admin/api_namespaces/_form.html.haml
  test/controllers/admin/comfy/api_resources_controller_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1377 [bug fix] non renderable API Namespace unable to create Resources
  app/helpers/api_forms_helper.rb
  app/views/comfy/admin/api_namespaces/_form.html.haml
  test/controllers/admin/comfy/api_resources_controller_test.rb
Labels: release-candidate

#1359 [bugfix] api resource undefined method error
  app/mailers/api_action_mailer.rb
  app/views/api_action_mailer/send_email.html.erb
  test/fixtures/api_actions.yml
  test/mailers/api_action_mailer_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1378 [bug fix] API resource undefined method error
  app/mailers/api_action_mailer.rb
  app/views/api_action_mailer/send_email.html.erb
  test/fixtures/api_actions.yml
  test/mailers/api_action_mailer_test.rb
Labels: release-candidate

#1320 [bug fix] Dynamic links get broken in send_email
  app/models/concerns/dynamic_attribute.rb
  app/models/concerns/safe_executable_validator.rb
  test/models/concerns/dynamic_attribute_test.rb
Labels: Passing UAT on Testnet :white_check_mark:, deploy-review-app

#1332 Entity specific analytics (#1323)
  Dockerfile.dev
  app/assets/config/manifest.js
  app/assets/javascripts/comfy/admin/cms/dashboard.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dashboard.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/api_forms_helper.rb
  app/helpers/dashboard_helper.rb
  app/javascript/packs/violet_analytics.js
  app/models/ahoy/event.rb
  app/views/comfy/admin/api_forms/_render.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/comfy/admin/dashboard/_events_search_filters.haml
  app/views/comfy/admin/dashboard/events_detail.haml
  app/views/comfy/admin/v2/dashboard/_events.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  app/views/layouts/comfy/admin/cms/_body.html.haml
  app/views/layouts/website.html.erb
  config/initializers/comfortable_mexican_sofa.rb
  config/routes.rb
  db/migrate/20230124014921_add_analytics_metadata_to_api_namespace.rb
  db/schema.rb
  package.json
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/controllers/admin/comfy/v2/dashboard_controller_test.rb
  test/helpers/dashboard_helper_test.rb
  yarn.lock
Labels: do not merge, deploy-review-app

#1390 [WIP] entity specific analytics - fix docs
  app/javascript/packs/violet_analytics.js
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
Labels: deploy-review-app

#1389 [feature] Entity specific analytics
  Dockerfile.dev
  app/assets/config/manifest.js
  app/assets/javascripts/comfy/admin/cms/dashboard.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dashboard.scss
  app/controllers/comfy/admin/api_namespaces_controller.rb
  app/controllers/comfy/admin/v2/dashboard_controller.rb
  app/helpers/api_forms_helper.rb
  app/helpers/dashboard_helper.rb
  app/javascript/packs/violet_analytics.js
  app/models/ahoy/event.rb
  app/views/comfy/admin/api_forms/_render.haml
  app/views/comfy/admin/api_namespaces/show.html.haml
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/comfy/admin/dashboard/_events_search_filters.haml
  app/views/comfy/admin/dashboard/events_detail.haml
  app/views/comfy/admin/v2/dashboard/_events.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  app/views/layouts/comfy/admin/cms/_body.html.haml
  app/views/layouts/website.html.erb
  config/initializers/comfortable_mexican_sofa.rb
  config/routes.rb
  db/migrate/20230124014921_add_analytics_metadata_to_api_namespace.rb
  db/schema.rb
  package.json
  test/controllers/admin/comfy/api_namespaces_controller_test.rb
  test/controllers/admin/comfy/v2/dashboard_controller_test.rb
  test/helpers/dashboard_helper_test.rb
  yarn.lock
Labels: Pending UAT on Staging :red_circle:, Failing UAT :x: :skull_and_crossbones:
