Repository restarone/violet_rails, pull requests merged in 2023-09, with the labels that each got.

#1601 Calendar and event booking
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/controllers/comfy/admin/calendars_controller.rb
  app/controllers/meetings_controller.rb
  app/mailboxes/e_mailbox.rb
  app/models/meeting.rb
  app/views/comfy/admin/calendars/index.html.haml
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/meetings/_form.html.haml
  app/views/meetings/_meeting.json.jbuilder
  app/views/meetings/edit.html.haml
  app/views/meetings/index.html.haml
  app/views/meetings/index.json.jbuilder
  app/views/meetings/new.html.haml
  app/views/meetings/show.html.haml
  app/views/meetings/show.json.jbuilder
  app/views/simple_calendar/_calendar.html.erb
  app/views/simple_calendar/_month_calendar.html.erb
  app/views/simple_calendar/_week_calendar.html.erb
  config/routes.rb
  db/migrate/20230913160600_create_meetings.rb
  db/schema.rb
  test/controllers/meetings_controller_test.rb
  test/fixtures/files/email_with_calendar_invite.eml
  test/fixtures/meetings.yml
  test/mailboxes/e_mailbox_test.rb
Labels: early-alpha UNSAFE, deploy-review-app

#1606 [feature] Calendar and icalendar meetings
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/controllers/comfy/admin/calendars_controller.rb
  app/controllers/meetings_controller.rb
  app/mailboxes/e_mailbox.rb
  app/models/meeting.rb
  app/views/comfy/admin/calendars/index.html.haml
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/meetings/_form.html.haml
  app/views/meetings/_meeting.json.jbuilder
  app/views/meetings/edit.html.haml
  app/views/meetings/index.html.haml
  app/views/meetings/index.json.jbuilder
  app/views/meetings/new.html.haml
  app/views/meetings/show.html.haml
  app/views/meetings/show.json.jbuilder
  app/views/simple_calendar/_calendar.html.erb
  app/views/simple_calendar/_month_calendar.html.erb
  app/views/simple_calendar/_week_calendar.html.erb
  config/routes.rb
  db/migrate/20230913160600_create_meetings.rb
  db/schema.rb
  test/controllers/meetings_controller_test.rb
  test/fixtures/files/email_with_calendar_invite.eml
  test/fixtures/meetings.yml
  test/mailboxes/e_mailbox_test.rb
Labels: release-candidate

#1600 Video Rooms
  app/assets/javascripts/libraries/adapter.js
  app/channels/application_cable/connection.rb
  app/channels/room_channel.rb
  app/channels/signaling_channel.rb
  app/controllers/comfy/admin/rooms_controller.rb
  app/controllers/rooms_controller.rb
  app/javascript/controllers/medium_controller.js
  app/javascript/controllers/room_controller.js
  app/javascript/models/client.js
  app/javascript/models/webrtc_negotiation.js
  app/javascript/subscriptions/room_subscription.js
  app/javascript/subscriptions/signaling_subscription.js
  app/models/client.rb
  app/models/room.rb
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/layouts/application.html.erb
  app/views/media/_medium.html.erb
  app/views/rooms/new.html.erb
  app/views/rooms/show.html.erb
  config/routes.rb
Labels: early-alpha UNSAFE, deploy-review-app

#1607 [feature] Video Rooms
  app/assets/javascripts/libraries/adapter.js
  app/channels/application_cable/connection.rb
  app/channels/room_channel.rb
  app/channels/signaling_channel.rb
  app/controllers/comfy/admin/rooms_controller.rb
  app/controllers/rooms_controller.rb
  app/javascript/controllers/medium_controller.js
  app/javascript/controllers/room_controller.js
  app/javascript/models/client.js
  app/javascript/models/webrtc_negotiation.js
  app/javascript/subscriptions/room_subscription.js
  app/javascript/subscriptions/signaling_subscription.js
  app/models/client.rb
  app/models/room.rb
  app/views/comfy/admin/cms/partials/_navigation_inner.haml
  app/views/layouts/application.html.erb
  app/views/media/_medium.html.erb
  app/views/rooms/new.html.erb
  app/views/rooms/show.html.erb
  config/routes.rb
Labels: Pending UAT on Testnet :warning:

#1610 [Bug Fix]: tooltip is not a function error in analytics V2 page
  app/javascript/packs/comfy/admin/cms.js
Labels: deploy-review-app

#1612 [Bug Fix] "tooltip is not a function" in analytics V2
  app/javascript/controllers/dashboard_controller.js
  app/javascript/packs/comfy/admin/cms.js
  app/javascript/subscriptions/room_subscription.js
  app/javascript/subscriptions/signaling_subscription.js
  app/views/comfy/admin/blog/partials/_navigation.html.haml
  app/views/comfy/admin/v2/dashboard/dashboard.html.haml
  app/views/layouts/comfy/admin/cms.html.haml
  app/views/layouts/comfy/admin/cms/_footer_js.html.haml
  app/views/layouts/comfy/admin/cms/_head.html.haml
  app/views/layouts/comfy/admin/cms/_left.html.haml
Labels: Pending UAT on Testnet :warning:, Failing UAT :x: :skull_and_crossbones:, deploy-review-app
